## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [8]:
import os
import numpy as np
import pandas as pd

In [9]:
# 設定 data_path
dir_data = './data/'

In [10]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [73]:
print("row 數:{}".format(len(app_train.index)))
print("col 數:{}".format(len(app_train.columns)))

row 數:307511
col 數:122

#### 列出所有欄位

In [82]:
col = app_train.columns
print("欄位 :{}".format(col))

欄位 :Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

從第0~第99列每2列取一次
取第2~第5欄

In [42]:
app_train.iloc[0:100:2,2:6]

   NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY
0          Cash loans           M            N               Y
2     Revolving loans           M            Y               Y
4          Cash loans           M            N               Y
6          Cash loans           F            Y               Y
8          Cash loans           F            N               Y
10         Cash loans           F            N               Y
12         Cash loans           F            N               Y
14         Cash loans           F            N               Y
16         Cash loans           M            N               N
18    Revolving loans           F            N               Y
20    Revolving loans           M            Y               Y
22         Cash loans           F            N               N
24         Cash loans           M            Y               N
26         Cash loans           F            N               Y
28         Cash loans           M            Y               Y
30         Cash loans           F            N               Y
32         Cash loans           F            N               N
34         Cash loans           F            N               Y
36         Cash loans           F            N               Y
38         Cash loans           F            N               Y
40         Cash loans           M            N               Y
42         Cash loans           F            N               N
44         Cash loans           M            N               Y
46         Cash loans           F            N               Y
48         Cash loans           F            N               N
50    Revolving loans           F            N               Y
52         Cash loans           M            Y               N
54         Cash loans           M            Y               N
56         Cash loans           F            N               N
58         Cash loans           M            Y               Y
60         Cash loans           F            N               Y
62         Cash loans           M            Y               Y
64         Cash loans           M            Y               N
66         Cash loans           F            Y               Y
68    Revolving loans           F            N               N
70         Cash loans           M            N               N
72         Cash loans           M            N               Y
74         Cash loans           F            N               Y
76    Revolving loans           F            N               N
78         Cash loans           F            N               Y
80    Revolving loans           F            N               Y
82         Cash loans           M            Y               Y
84         Cash loans           F            N               Y
86         Cash loans           F            Y               Y
88         Cash loans           F            N               Y
90         Cash loans           F            N               Y
92         Cash loans           M            Y               Y
94         Cash loans           M            Y               Y
96         Cash loans           F            N               Y
98         Cash loans           F            N               Y

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

#### 取出欄位 CODE_GENDER = F 且 NAME_CONTRACT_TYPE = Revolving loans

In [69]:
condition = np.logical_and(app_train['CODE_GENDER'] == 'F',app_train['NAME_CONTRACT_TYPE'] == 'Revolving loans')

In [70]:
app_train[condition]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
17,100021,0,Revolving loans,F,N,Y,1,81000.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.0,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
45,100052,0,Revolving loans,F,N,Y,1,90000.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
50,100058,0,Revolving loans,F,N,Y,0,54000.0,135000.0,6750.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
68,100080,0,Revolving loans,F,N,Y,1,157500.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
76,100088,0,Revolving loans,F,N,Y,0,112500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
80,100095,0,Revolving loans,F,N,Y,2,67500.0,135000.0,6750.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100,100119,0,Revolving loans,F,N,Y,0,54000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
109,100129,0,Revolving loans,F,Y,Y,1,85500.0,135000.0,6750.0,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0
114,100134,0,Revolving loans,F,N,Y,0,202500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
120,100140,0,Revolving loans,F,N,Y,0,157500.0,675000.0,33750.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
147,100174,0,Revolving loans,F,N,Y,2,180000.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
155,100182,0,Revolving loans,F,N,Y,1,112500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
165,100194,0,Revolving loans,F,N,Y,2,157500.0,315000.0,15750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
194,100226,0,Revolving loans,F,N,Y,2,112500.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
198,100230,0,Revolving loans,F,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
201,100234,0,Revolving loans,F,N,Y,0,67500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
233,100270,0,Revolving loans,F,N,Y,0,90000.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
234,100272,0,Revolving loans,F,N,Y,1,135000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
242,100282,1,Revolving loans,F,Y,Y,0,73341.0,135000.0,6750.0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
245,100285,0,Revolving loans,F,N,Y,0,112500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
259,100299,0,Revolving loans,F,N,Y,0,112500.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
264,100304,0,Revolving loans,F,N,Y,0,225000.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
308,100354,0,Revolving loans,F,N,Y,1,112500.0,135000.0,6750.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
311,100357,0,Revolving loans,F,N,Y,0,225000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
313,100360,0,Revolving loans,F,N,Y,0,67500.0,202500.0,10125.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,2.0
379,100436,0,Revolving loans,F,N,Y,0,112500.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
394,100457,0,Revolving loans,F,Y,Y,0,211500.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
397,100460,0,Revolving loans,F,N,Y,0,315000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
411,100475,0,Revolving loans,F,Y,Y,0,405000.0,495000.0,24750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307073,455763,0,Revolving loans,F,N,Y,1,54000.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307075,455765,0,Revolving loans,F,N,Y,0,126000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307076,455766,0,Revolving loans,F,Y,Y,0,112500.0,315000.0,15750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307077,455767,0,Revolving loans,F,N,Y,1,99000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307084,455774,0,Revolving loans,F,N,Y,0,90000.0,247500.0,12375.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307122,455818,0,Revolving loans,F,N,Y,0,135000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307125,455821,0,Revolving loans,F,N,Y,0,135000.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307128,455824,0,Revolving loans,F,N,Y,0,81000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307129,455825,0,Revolving loans,F,N,Y,0,360000.0,765000.0,38250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307133,455830,1,Revolving loans,F,N,Y,0,90000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307137,455834,0,Revolving loans,F,N,Y,0,139500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307188,455891,0,Revolving loans,F,N,Y,0,180000.0,382500.0,19125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
307209,455917,0,Revolving loans,F,N,Y,0,180000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307210,455918,0,Revolving loans,F,N,Y,0,72000.0,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307226,455934,0,Revolving loans,F,Y,Y,0,166500.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307234,455943,0,Revolving loans,F,Y,Y,0,72000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
307235,455944,0,Revolving loans,F,N,Y,0,63000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307286,456003,0,Revolving loans,F,Y,Y,2,90000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307287,456004,0,Revolving loans,F,Y,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307298,456021,0,Revolving loans,F,N,Y,0,180000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307302,456025,0,Revolving loans,F,N,Y,0,144000.0,180000.0,9000.0,...,0,0,0,0,0.0,1.0,0.0,0.0,0.0,2.0
307314,456038,0,Revolving loans,F,N,Y,1,121500.0,382500.0,19125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307375,456100,0,Revolving loans,F,N,Y,0,63000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307402,456135,0,Revolving loans,F,N,Y,0,157500.0,382500.0,19125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307419,456152,0,Revolving loans,F,N,Y,1,112500.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
307444,456182,0,Revolving loans,F,N,Y,2,90000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307457,456196,0,Revolving loans,F,N,Y,2,202500.0,360000.0,18000.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0
307467,456207,0,Revolving loans,F,N,Y,0,247500.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307485,456229,0,Revolving loans,F,N,Y,1,270000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307496,456240,0,Revolving loans,F,N,Y,0,360000.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0